button.pika-button {
  text-align: center;

  &:hover {
    background: $primary-color;
  }

  &.is-selected {
    background: $primary-color;
  }
}

td.is-today .pika-button {
  color: $primary-color;
}

td.is-selected .pika-button {
  background: $primary-color;
}
